<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Правители и планеты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

<header th:insert="blocks/header :: header"></header>

<main>
    <div class="container mt-5">
        3141 год.<br>
        Вселенная исследована и поделена.
        Верховный правитель назначает Повелителей Планет,
        общее количество которых исчисляется миллионами.
        Опытные Повелители могут одновременно управлять
        несколькими Планетами. Никакой демократии, поэтому
        одной планетой может править только один Повелитель.
        Все это безобразие требует системы учета и надзора.
        <br>
        Настало время для Вас.

    </div>

</main>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>